<!-- eml_app/templates/user_details.html -->
{% load static %}
{% load widget_tweaks %}
{{ form.name|add_class:"form-control" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'eml_app/css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4 text-center">User Details</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.name.id_for_label }}">Name</label>
                    {{ form.name|add_class:"form-control" }}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.age.id_for_label }}">Age</label>
                    {{ form.age|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.mobile.id_for_label }}">Mobile</label>
                    {{ form.mobile|add_class:"form-control" }}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.gender.id_for_label }}">Gender</label>
                    {{ form.gender|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.location.id_for_label }}">Location</label>
                    {{ form.location|add_class:"form-control" }}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.occupation.id_for_label }}">Occupation</label>
                    {{ form.occupation|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg">Next</button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
